@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root {
  --c-alpha: #FFD3AB;
  --c-beta: #FFE79E;
  --c-gamma: #2597B3;
  --c-alpha-text: #000000;
  --c-beta-text: #FFFFFF;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#content, nav {
  font-family: 'Amatic SC', cursive;
}
nav {
  background-color: var(--c-alpha);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}
nav > ul > li {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: .2rem;
  text-decoration-color: var(--c-alpha);
  transition: .3s;
  font-weight: 700;
}
nav > ul > li:hover {
  text-decoration-color: var(--c-gamma);
}