@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root {
  --c-alpha: #FFD3AB;
  --c-beta: rgba(255, 231, 158, 1);
  --c-beta-faded: rgba(255, 231, 158, 0.6);
  --c-gamma: #2597B3;
  --c-alpha-text: #000000;
  --c-beta-text: #FFFFFF;
  --nav-height: 4.5rem;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#content, nav {
  font-family: 'Amatic SC', cursive;
  animation: fadeIn 1.5s;
  background-color: var(--c-beta);
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
nav {
  background-color: var(--c-alpha);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--nav-height);
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}
nav > ul > li {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: .2rem;
  text-decoration-color: var(--c-alpha);
  transition: .3s;
  font-weight: 700;
}
nav > ul > li:hover {
  text-decoration-color: var(--c-gamma);
}
.content-home {
  background-color: var(--c-beta);
  position: relative;
  overflow: hidden;
  height: calc(100vh - var(--nav-height));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content-home > img {
  background-color: var(--c-beta-faded);
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  margin: auto;
  opacity: 0.65;
}
.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-container > h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.title-line {
  border: 2px solid var(--c-alpha-text);
  width: 80vw;
}
.info-container {
  border-radius: 5px;
  margin-top: 1rem;
  background-color: var(--c-alpha);
  padding: 2rem;
  width: 70%;
  text-align: center;
}
.info-container > p {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem;
}
.info-container > hr {
  border: 1px solid var(--c-alpha-text);
  width: 80%;
}
.info-container > button {
  color: var(--c-beta-text);
  background-color: var(--c-gamma);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 3rem;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}
.food-item-container {
  display: grid;
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
  padding-bottom: 8%;
  row-gap: 2rem;
}
.food-item-container > h1 {
  font-size: 6rem;
  font-weight: 700;
}
.food-item {
  width: 80%;
  text-align: left;
  display: grid;
  grid-template-columns: 50% 20% 20%;
  column-gap: 3.5rem;
}
/*Target first child div container*/
.food-item > div:first-of-type > p {
  font-weight: 700;
  font-size: 2rem;
  margin: 0.5rem;
}
.food-item > div:first-of-type > p:last-of-type {
  font-size: 1.5rem;
}
.item-price {
  background-color: var(--c-gamma);
  height: 30px;
  width: 150px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--c-beta-text);
}
.food-icon {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}